<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pc.css') }}" media="screen and (min-width: 501px)">
    <link rel="stylesheet" href="{{ url_for('static', filename='pm.css') }}" media="screen and (max-width: 500px)">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">

</head>

<body>
    <h1>邮箱管理</h1>


    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="{{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
<div class="postinon">
    <div class="box">
        <div class="list-title">
                <span><</span>
                    
                    <a href="{{ url_for('bulk_add') }}">添加账号</a>
                    <!-- 按需开启 -->
                    <a href="/">邀请页面</a>
                    <!-- 按需开启 -->
                    <a href="{{ url_for('recent_emails') }}">共享账号</a>
                    <!-- 按需开启 -->
                    <a href="{{ url_for('card_info') }}">卡密信息</a>
                    <!-- 按需开启 -->
                    <a href="{{ url_for('edit_announcement') }}">通知设置</a>
                    <!-- 按需开启 -->
                    <a style="margin-top: 1rem;" href="{{ url_for('logout') }}">退出登录</a>
        </div>
    </div>
    <button id="toggle-button" class="toggle-button" onclick="toggleAccounts()">显示已使用账号</button>
</div>
    <table id="non-logged-in-accounts">
        <tr>
            <th>Email</th>
            <th>Password</th>
            <th>Actions</th>
        </tr>
        {% for email in emails %}
        {% if '登录成功' not in email and '失败' not in email %}
        <tr>
            {% set email_parts = email.split('----') %}
            <td>{{ email_parts[0] }}</td>
            <td>{{ email_parts[1] if email_parts|length > 1 else '' }}</td>
            <td>
                <form action="{{ url_for('update_email', index=loop.index0) }}" method="post">
                    <input type="text" name="new_email" placeholder="New Email" value="{{ email_parts[0] }}" required>
                    <input type="text" name="new_password" placeholder="New Password"
                        value="{{ email_parts[1] if email_parts|length > 1 else '' }}" required>
                    <button type="submit">更新</button>
                </form>
                <form action="{{ url_for('delete_email', index=loop.index0) }}" method="get">
                    <button type="submit">删除</button>
                </form>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

    <!-- Table for logged-in accounts -->
    <table id="logged-in-accounts" style="display: none;">
        <tr>
            <th>Email</th>
            <th>Password</th>
            <th>Time</th>
            <th>Actions</th>
        </tr>
        {% for email in emails %}
        {% if '登录成功' in email %}
        <tr>
            {% set email_parts = email.split('----') %}
            <td>{{ email_parts[0] }}</td> <!-- 账号部分 -->
            <td>{{ email_parts[1].split(' ')[0] if email_parts|length > 1 else '' }} <!-- 密码 -->
                {{ email.split(' ')[1] if email.split(' ')|length > 1 else '' }}</td> <!-- 状态 -->
            <td data-timestamp="{{ email.split(' ')[-1] }}">{{ email.split(' ')[-1] }}</td> <!-- 时间戳 -->
            <td>
                <form action="{{ url_for('update_email', index=loop.index0) }}" method="post">
                    <input type="text" name="new_email" placeholder="New Email" value="{{ email_parts[0] }}" required>
                    <input type="text" name="new_password" placeholder="New Password"
                        value="{{ email_parts[1] if email_parts|length > 1 else '' }}" required>
                    <button type="submit">Update</button>
                </form>
                <form action="{{ url_for('delete_email', index=loop.index0) }}" method="get">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr>
            <td colspan="4" style="text-align: center; font-weight: 700;">失败账号</td>
        </tr>
        {% for email in emails %}
        {% if '失败' in email %}
        <tr>
            {% set email_parts = email.split('----') %}
            <td>{{ email_parts[0] }}</td> <!-- 账号部分 -->
            <td>{{ email_parts[1].split(' ')[0] if email_parts|length > 1 else '' }} <!-- 密码 -->
                {{ email.split(' ')[1] if email.split(' ')|length > 1 else '' }}</td> <!-- 状态 -->
            <td data-timestamp="{{ email.split(' ')[-1] }}">{{ email.split(' ')[-1] }}</td> <!-- 时间戳 -->
            <td>
                <form action="{{ url_for('update_email', index=loop.index0) }}" method="post">
                    <input type="text" name="new_email" placeholder="New Email" value="{{ email_parts[0] }}" required>
                    <input type="text" name="new_password" placeholder="New Password"
                        value="{{ email_parts[1] if email_parts|length > 1 else '' }}" required>
                    <button type="submit">Update</button>
                </form>
                <form action="{{ url_for('delete_email', index=loop.index0) }}" method="get">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    <script>
        function toggleAccounts() {
            var nonLoggedInTable = document.getElementById('non-logged-in-accounts');
            var loggedInTable = document.getElementById('logged-in-accounts');
            var toggleButton = document.getElementById('toggle-button');

            if (nonLoggedInTable.style.display === 'none') {
                nonLoggedInTable.style.display = 'table';
                loggedInTable.style.display = 'none';
                toggleButton.textContent = '显示已使用账号';
            } else {
                nonLoggedInTable.style.display = 'none';
                loggedInTable.style.display = 'table';
                toggleButton.textContent = '显示未使用账号';
            }
        }
        document.addEventListener('DOMContentLoaded', function () {
            // 获取所有包含时间戳的 <td> 元素
            const timestampCells = document.querySelectorAll('td[data-timestamp]');

            timestampCells.forEach(cell => {
                const timestamp = cell.getAttribute('data-timestamp');
                if (timestamp) {
                    const date = new Date(timestamp * 1000); // 转换时间戳为毫秒
                    const formattedDate = date.toLocaleString(); // 将日期格式化为本地时间字符串
                    cell.innerText = formattedDate; // 替换原有时间戳文本
                }
            });
        });
        const box = document.querySelector('.box')
        const list = document.querySelector('.list-title')
        const span = document.querySelector('.list-title span')
        box.style.height = `${list.offsetHeight}px`


        document.documentElement.addEventListener('click', (e) => {
            if (e.target.tagName === 'SPAN') {
                if (list.style.animationName === 'on') {
                    list.style.animationName = 'off'
                    span.innerHTML = '<'
                }
                else {
                    list.style.animationName = 'on'
                    span.innerHTML = '>'
                }
            }
            else {
                if (list.style.animationName === 'on') {
                    list.style.animationName = 'off'
                    span.innerHTML = '<'
                }
            }
        })
    </script>
</body>

</html>