<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Manager</title>
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 50px;
            height: 24px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: .4s;
            border-radius: 34px;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
            border-radius: 50%;
        }

        input:checked+.slider {
            background-color: #2196F3;
        }

        input:checked+.slider:before {
            transform: translateX(26px);
        }

        #timer {
            font-size: 0.8em;
            color: #333;
            margin-left: 5px;
        }

        .form-group {
            display: flex;
            align-items: center;
        }

        label {
            font-size: 0.8em;
            color: #333;
            margin-right: 10px;
        }

        input[type="number"] {
            padding: 2px;
            font-size: 0.8em;
            border: 2px solid #ddd;
            border-radius: 4px;
            transition: border-color 0.3s ease;
            width: 30px;
        }

        input[type="number"]:focus {
            border-color: #2196F3;
            outline: none;
            box-shadow: 0 0 5px rgba(33, 150, 243, 0.3);
        }
        .survi {
            margin: 0 20px;
            background-color: #ffffff;
            padding: 5px;
            border: 1px #9c9c9c63 solid;
            box-shadow: 0px 0px 5px 3px rgba(170, 170, 170, 0.3);
            border-radius: 15px;
        }
        .runbtn {
            margin-top: 5px;
            display: flex;
            align-items: center;
            font-size: 0.8rem;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='pc.css') }}" media="screen and (min-width: 501px)">
    <link rel="stylesheet" href="{{ url_for('static', filename='pm.css') }}" media="screen and (max-width: 500px)">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">

</head>

<body>
    <h1>邮箱管理</h1>


    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="{{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="survi">
        <div class="form-group">
            <label for="interval">检测间隔(分钟)：</label>
            <input type="number" id="interval" name="interval" min="1" placeholder="输入时间间隔">
        </div>
        <div class="runbtn"><label class="switch">
            <input type="checkbox" id="detectionToggle">
            <span class="slider"></span>
        </label>
        <span id="status">检测已停止</span>
        <span id="timer"></span></div>
    </div>
<div class="postinon">
    <div class="box">
        <div class="list-title">
                <span data-id="switch"><</span>
                    
                    <a href="{{ url_for('bulk_add') }}">添加账号</a>
                    <!-- 按需开启 -->
                    <a href="/">邀请页面</a>
                    <!-- 按需开启 -->
                    <a href="{{ url_for('recent_emails') }}">共享账号</a>
                    <!-- 按需开启 -->
                    <a href="{{ url_for('card_info') }}">卡密信息</a>
                    <!-- 按需开启 -->
                    <a href="{{ url_for('edit_announcement') }}">通知设置</a>
                    <!-- 按需开启 -->
                    <a style="margin-top: 1rem;" href="{{ url_for('logout') }}">退出登录</a>
        </div>
    </div>
    <button id="toggle-button" class="toggle-button" onclick="toggleAccounts()">显示已使用账号</button>
</div>

    <table id="non-logged-in-accounts">
        <tr>
            <th>Email</th>
            <th>Password</th>
            <th>Actions</th>
        </tr>
        {% for email in emails %}
        {% if '登录成功' not in email and '失败' not in email %}
        <tr>
            {% set email_parts = email.split('----') %}
            <td>{{ email_parts[0] }}</td>
            <td>{{ email_parts[1] if email_parts|length > 1 else '' }}</td>
            <td>
                <form action="{{ url_for('update_email', index=loop.index0) }}" method="post">
                    <input type="text" name="new_email" placeholder="New Email" value="{{ email_parts[0] }}" required>
                    <input type="text" name="new_password" placeholder="New Password"
                        value="{{ email_parts[1] if email_parts|length > 1 else '' }}" required>
                    <button type="submit">更新</button>
                </form>
                <form action="{{ url_for('delete_email', index=loop.index0) }}" method="get">
                    <button type="submit">删除</button>
                </form>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

    <!-- Table for logged-in accounts -->
    <table id="logged-in-accounts" style="display: none;">
        <tr>
            <th>Email</th>
            <th>Password</th>
            <th>Time</th>
            <th>Actions</th>
        </tr>
        {% for email in emails %}
        {% if '登录成功' in email %}
        <tr>
            {% set email_parts = email.split('----') %}
            <td>{{ email_parts[0] }}</td> <!-- 账号部分 -->
            <td>{{ email_parts[1].split(' ')[0] if email_parts|length > 1 else '' }} <!-- 密码 -->
                {{ email.split(' ')[1] if email.split(' ')|length > 1 else '' }}</td> <!-- 状态 -->
            <td data-timestamp="{{ email.split(' ')[-1] }}">{{ email.split(' ')[-1] }}</td> <!-- 时间戳 -->
            <td>
                <form action="{{ url_for('update_email', index=loop.index0) }}" method="post">
                    <input type="text" name="new_email" placeholder="New Email" value="{{ email_parts[0] }}" required>
                    <input type="text" name="new_password" placeholder="New Password"
                        value="{{ email_parts[1] if email_parts|length > 1 else '' }}" required>
                    <button type="submit">Update</button>
                </form>
                <form action="{{ url_for('delete_email', index=loop.index0) }}" method="get">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr>
            <td colspan="4" style="text-align: center; font-weight: 700;">失败账号</td>
        </tr>
        {% for email in emails %}
        {% if '失败' in email %}
        <tr>
            {% set email_parts = email.split('----') %}
            <td>{{ email_parts[0] }}</td> <!-- 账号部分 -->
            <td>{{ email_parts[1].split(' ')[0] if email_parts|length > 1 else '' }} <!-- 密码 -->
                {{ email.split(' ')[1] if email.split(' ')|length > 1 else '' }}</td> <!-- 状态 -->
            <td data-timestamp="{{ email.split(' ')[-1] }}">{{ email.split(' ')[-1] }}</td> <!-- 时间戳 -->
            <td>
                <form action="{{ url_for('update_email', index=loop.index0) }}" method="post">
                    <input type="text" name="new_email" placeholder="New Email" value="{{ email_parts[0] }}" required>
                    <input type="text" name="new_password" placeholder="New Password"
                        value="{{ email_parts[1] if email_parts|length > 1 else '' }}" required>
                    <button type="submit">Update</button>
                </form>
                <form action="{{ url_for('delete_email', index=loop.index0) }}" method="get">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    <script>
        const toggle = document.getElementById('detectionToggle');
        const statusText = document.getElementById('status');
        const timerDisplay = document.getElementById('timer');
        const intervalInput = document.getElementById('interval');
        let countdownInterval;



        // 加载初始状态
        function loadStatus() {
            fetch('/get_status')
                .then(response => response.json())
                .then(data => {
                    if (data.detection_active) {
                        toggle.checked = true;
                        statusText.textContent = '检测已启动';
                        intervalInput.value = data.interval / 60; // 显示为分钟
                        
                        updateCountdown(data.next_check,data.now_check);
                    } else {
                        toggle.checked = false;
                        statusText.textContent = '检测已停止';
                        intervalInput.value = data.interval / 60; // 显示为分钟
                        timerDisplay.textContent = '';
                    }
                });
        }

        // 更新计时器显示
        function updateCountdown(nextCheckTime,nowCheckTime) {
            if (countdownInterval) {
                clearInterval(countdownInterval);
            }
            let now = Math.floor(nowCheckTime);
            countdownInterval = setInterval(() => {
                now++
                const timeLeft = nextCheckTime - now;

                 if (timeLeft <= 0) {
                    timerDisplay.textContent = `正在检测中`;
                    clearInterval(countdownInterval);
                    loadStatus()
                } else {
                    const minutes = Math.floor(timeLeft / 60);
                    const seconds = parseInt(timeLeft % 60);
                    timerDisplay.textContent = `下次检测: ${minutes}分 ${seconds}秒`;
                }
            }, 1000);
        }

        toggle.addEventListener('change', function () {
            const action = toggle.checked ? 'start' : 'stop';
            const interval = document.getElementById('interval').value * 60;  // 将分钟转换为秒
            if (action === 'start') {
                toggle.disabled = false;
                statusText.textContent = '检测已启动';
                fetch('/toggle_detection', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ action: action, interval: interval })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'started') {
                            startCountdown(interval);
                        } else {
                            statusText.textContent = '发生错误';
                            toggle.checked = false;
                        }
                    });
            } else {
                toggle.disabled = true;
                statusText.textContent = '关闭中……';
                clearInterval(countdownInterval);
                timerDisplay.textContent = '';
                fetch('/toggle_detection', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ action: action })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'stopped') {
                            statusText.textContent = '检测已停止';
                            toggle.disabled = false;
                        } else {
                            statusText.textContent = '发生错误';
                        }
                    });
            }
        });
        // 页面加载时读取状态
        loadStatus();
    </script>
    <script>
        function toggleAccounts() {
            var nonLoggedInTable = document.getElementById('non-logged-in-accounts');
            var loggedInTable = document.getElementById('logged-in-accounts');
            var toggleButton = document.getElementById('toggle-button');

            if (nonLoggedInTable.style.display === 'none') {
                nonLoggedInTable.style.display = 'table';
                loggedInTable.style.display = 'none';
                toggleButton.textContent = '显示已使用账号';
            } else {
                nonLoggedInTable.style.display = 'none';
                loggedInTable.style.display = 'table';
                toggleButton.textContent = '显示未使用账号';
            }
        }
        document.addEventListener('DOMContentLoaded', function () {
            // 获取所有包含时间戳的 <td> 元素
            const timestampCells = document.querySelectorAll('td[data-timestamp]');

            timestampCells.forEach(cell => {
                const timestamp = cell.getAttribute('data-timestamp');
                if (timestamp) {
                    const date = new Date(timestamp * 1000); // 转换时间戳为毫秒
                    const formattedDate = date.toLocaleString(); // 将日期格式化为本地时间字符串
                    cell.innerText = formattedDate; // 替换原有时间戳文本
                }
            });
        });
        const box = document.querySelector('.box')
        const list = document.querySelector('.list-title')
        const span = document.querySelector('.list-title span')
        box.style.height = `${list.offsetHeight}px`


        document.documentElement.addEventListener('click', (e) => {
            if (e.target.dataset.id === 'switch') {
                if (list.style.animationName === 'on') {
                    list.style.animationName = 'off'
                    span.innerHTML = '<'
                }
                else {
                    list.style.animationName = 'on'
                    span.innerHTML = '>'
                }
            }
            else {
                if (list.style.animationName === 'on') {
                    list.style.animationName = 'off'
                    span.innerHTML = '<'
                }
            }
        })
    </script>
</body>

</html>